html {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

#question-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    width: 75%;
    text-align: center;
}

#question {
    position: relative;
    padding: 5px;
    font-size: 1.6rem;
    font-weight: bolder;
}

#question-container button {
    position: relative;
    width: 50%;
    margin: 10px;
    padding: 5px;
}

#message-text {
    display: inline-block;
}

#end-game-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    text-align: center;
    font-size: 1.6rem;
}

#high-scores-container {
    display: inline-block;
}

#start-screen-container {
    display: inline-block;
    font-size: 1.6rem;
}

#message-text {
    display: block;
    padding: 10px;
    font-size: 1.6rem;
    font-weight: bolder;
}

#nav-bar-container {
    margin: 50px;
}

#countdown-timer {
    position: fixed;
    right: 10px;
    top: 10px;
    margin: 5px;
}

#view-high-scores {
    position: fixed;
    left: 10px;
    top: 10px;
    margin: 5px;
}

#game-area-container {
    display: flex;
    position: relative;
    width: 50%;
    justify-content: center;
    padding: 25px;
    background-color: cornflowerblue;
    min-height: 400px;
    min-width: 400px;

}

header {
    height: 50px;
    font-size: 1.6rem;
    font-weight: bolder;
}

#end-game-message {
    padding: 10px;
    align-content: center;
}

#high-score-form {
    padding: 10px;
}

#high-scores-list {
    font-size: 1.8rem;
}

#high-scores-list li {
    text-transform: uppercase;
    padding: 2px;
    font-size: 1.6rem;
}


button {
    background-color: lightslategray;
    color: white;
    border: 2px solid black;
    padding: 5px;
    margin: 4px;
}