#question-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}

#question {
    position: relative;
    padding: 5px;
}

#question-container button {
    position: relative;
    width: 95%;
    margin: 10px;
    padding: 5px;
}

#message-text {
    display: inline-block;
}

#end-game-container {
    display: inline-block;
}

#high-scores-container {
    display: inline-block;
}

#start-screen-container {
    display: inline-block;
}

#message-text {
    display: block;
    margin: 25%;
}

#nav-bar-container {

    margin: 50px;

}

#countdown-timer {
    position: fixed;
    right: 10px;
    top: 10px;
    margin: 5px;


}

#view-high-scores {
    position: fixed;
    left: 10px;
    top: 10px;
    margin: 5px;

}

#game-area-container {
    display: flex;
    border: 1px solid red;
    width: 50%;
    justify-content: center;
    margin: 10% 25% 5% 25%;
    padding: 25px;
    background-color: cornflowerblue;
    min-height: 400px;

}

header {
    height: 50px;
}

#end-game-message {
    padding: 10px;
    align-content: center;
}

#high-score-form {
    padding: 10px;
}

#high-scores-list li {
    text-transform: uppercase;
}

button {
    background-color: lightslategray;
    color: white;
    border: 2px solid black;
    padding: 5px;
    margin: 4px;
}